@charset "utf-8";
.card{
   display: flex;
   align-items: center;
   justify-content:center ;
   margin: auto;
   width: 400px;
   margin-top: 30px;
   padding: 10px;

  
}


    
   


.form-group{
    padding: 10px;
}


.icon{
    height: 100px;
    width: 100px;
    margin-top:50px;
    margin-left: 50px;
    transform: rotate(-45deg);  
    background-color:#D9D9D9;
    margin: auto;
    margin: 30px;
    
   
}


.row{
    grid-gap:10px;
    margin: 60px;
    

}

.col,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
   border: 0.3px solid black;
   color: #adadad;
  

}

.bt{
    margin: 2px;
    width: 100%;
    padding: 9px;
    
   
}

.anc{
    background-color: #e6e5e5;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.sistema{
color: black;
background-color: #d8d6d6;
}

.imagem{
    width: 20px;
    margin-left:85px ;
}

 